---
http_interactions:
- request:
    method: post
    uri: https://<Host>.myshopify.com/admin/api/2026-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation stagedUploadsCreate($input: [StagedUploadInput!]!)
        {\n  stagedUploadsCreate(input: $input) {\n    stagedTargets {\n      url\n      resourceUrl\n      parameters
        {\n        name\n        value\n      }\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}\n","variables":{"input":[{"resource":"BULK_MUTATION_VARIABLES","filename":"bulk_import.jsonl","mimeType":"text/jsonl","httpMethod":"POST","fileSize":"256"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<X-Shopify-Access-Token>"
      X-Graphql-Cost-Include-Fields:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3010427'
      X-Stats-Apipermissionid:
      - '309825994805'
      X-Shopify-Api-Version:
      - 2026-01
      Content-Language:
      - en
      X-Shopify-Api-Gql-Engine:
      - cardinal
      X-Dc:
      - gcp-us-west1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"stagedUploadsCreate":{"stagedTargets":[{"url":"https://shopify-staged-uploads.storage.googleapis.com/","resourceUrl":"https://shopify-staged-uploads.storage.googleapis.com/","parameters":[{"name":"Content-Type","value":"text/jsonl"},{"name":"success_action_status","value":"201"},{"name":"acl","value":"private"},{"name":"key","value":"tmp/10671028/bulk/7583b668-d3f6-4498-8879-83d3d3a4eacb/bulk_import.jsonl"},{"name":"x-goog-date","value":"20260312T041633Z"},{"name":"x-goog-credential","value":"merchant-assets@shopify-tiers.iam.gserviceaccount.com/20260312/auto/storage/goog4_request"},{"name":"x-goog-algorithm","value":"GOOG4-RSA-SHA256"},{"name":"x-goog-signature","value":"39ad7d7112552ddc43c529bf5505392a176a38[...]
- request:
    method: post
    uri: https://shopify-staged-uploads.storage.googleapis.com/
    body:
      encoding: ASCII-8BIT
      string: "----f1ea6c08-9687-48f0-b931-499e4ec3c4c6\r\nContent-Disposition: form-data;
        name=\"Content-Type\"\r\n\r\ntext/jsonl\r\n----f1ea6c08-9687-48f0-b931-499e4ec3c4c6\r\nContent-Disposition:
        form-data; name=\"success_action_status\"\r\n\r\n201\r\n----f1ea6c08-9687-48f0-b931-499e4ec3c4c6\r\nContent-Disposition:
        form-data; name=\"acl\"\r\n[...]
- request:
    method: post
    uri: https://<Host>.myshopify.com/admin/api/2026-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"fragment BulkOperationFields on BulkOperation {\n  id\n  status\n  errorCode\n  objectCount\n  partialDataUrl\n  rootObjectCount\n  url\n  createdAt\n  completedAt\n}\n\nmutation
        bulkOperationRunMutation($mutation: String!, $stagedUploadPath: String!) {\n  bulkOperationRunMutation(mutation:
        $mutation, stagedUploadPath: $stagedUploadPath) {\n    bulkOperation {\n      ...BulkOperationFields\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}\n","variables":{"mutation":"mutation
        productSet($input: ProductSetInput!, $identifier: ProductSetIdentifiers) {\n  productSet(input:
        $input, identifier: $identifier) {\n    product {\n      id\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}\n","stagedUploadPath":"tmp/10671028/bulk/7583b668-d3f6-4498-8879-83d3d3a4eacb/bulk_import.jsonl"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<X-Shopify-Access-Token>"
      X-Graphql-Cost-Include-Fields:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3010427'
      X-Stats-Apipermissionid:
      - '309825994805'
      X-Shopify-Api-Version:
      - 2026-01
      Content-Language:
      - en
      X-Shopify-Api-Gql-Engine:
      - cardinal
      X-Dc:
      - gcp-us-west1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"bulkOperationRunMutation":{"bulkOperation":{"id":"gid://shopify/BulkOperation/6291439878197","status":"CREATED","errorCode":null,"objectCount":"0","partialDataUrl":null,"rootObjectCount":"0","url":null,"createdAt":"2026-03-12T04:16:34Z","completedAt":null},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1990,"restoreRate":100.0},"fields":[{"path":["bulkOperationRunMutation","bulkOperation","id"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["bulkOperationRunMutation","bulkOperation","status"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["bulkOperationRunMutation","bulkOperation","errorCode"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["bulkOperationRunMutation","bulkOperation","objectCount"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["bulkOperationRunMutation","bulkOperation","partialDataUrl"],"definedCost":0,"requestedTotalCost[...]
